<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
     <span class="ncov">ncov19</span>{{covidTitle}}
     <select2 (valueChanged)="onSelected($event)" width="25%"
      [data]="menuData" [cssImport]=true
       [options]="sel2Options"></select2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-chip class="chipDec">
      <ion-label color="primary">Date: {{totalDataSet.date}}</ion-label>
    </ion-chip>
    <ion-chip class="chipDec">
      <ion-label color="secondary">Infected: {{totalDataSet.totalCases}}</ion-label>
    </ion-chip>
    <ion-chip class="chipDec">
      <ion-label color="danger">Death: {{totalDataSet.totalDeaths}}</ion-label>
    </ion-chip>
  </div>
  <div class="bottom">
    <a href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html">Source NyTimes</a>
    </div>
</ion-content>


