<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      <select2 (valueChanged)="onSelected($event)" width="25%" [data]="menuData" [cssImport]=true
        [options]="sel2Options"></select2>
        Date Range : 
        <select2 (valueChanged)="onDateChanged($event)" width="25%" [data]="dateData" [cssImport]=true
        [options]="selectDates"></select2>
      <div class="source"><a href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html">Source
          NyTimes</a>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <div id="container">
    <ion-chip class="chipDec">
      <ion-label color="primary">Date: {{totalDataSet.date}}</ion-label>
    </ion-chip>
    <ion-chip class="chipDec">
      <ion-label color="secondary">Infected: {{totalDataSet.totalCases | number:'2.'}}</ion-label>
    </ion-chip>
    <ion-chip class="chipDec">
      <ion-label color="danger">Death: {{totalDataSet.totalDeaths | number:'2.'}}</ion-label>
    </ion-chip>
  </div>
  <div style="margin-top:50px">
    <canvas #trendyChart id="trendyChart"></canvas>
  </div>
</ion-content>
