#container {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 11%;
  // transform: translateY(-50%);
}

.bottom {
  position: absolute;
  top: 11%;
  right: 10px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.ncov {
  color: #d24627;
  font-size: large;
  margin-right: 20px;
}

.source {
  font-size: small;
  position: absolute;
  right: 20px;
  top: 10px;
  color: '#92949c' !important;
}

.logoIcon {
  margin-right: 20px;
  float: left
}

.labelStyle {
  float: left;
  width: 90%;
  margin-top: 15px;
}

#select2Builder {
  width: 250px !important;
  outline: none !important;
}

.chipDec {
  font-family: WorkSans-SemiBold;
  font-size: large;
}

ion-chip {
  height: 35px;
  border-radius: 5px !important;
}